.DS_Store
.idea
.env
.env.testing
.phpunit.result.cache
phpunit.dusk.xml
auth.json

# Ignore all vendor files included by composer and the lock file 

/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.backup
.env.local

!themes/tastyigniter-orange/public/.gitkeep